.subtasks_li_container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.item_container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.hidden_checkbox {
  -webkit-appearance: none;
  position: absolute;
}
.custom_checkbox {
  margin-top: 5px;
  position: relative;
  min-width: 18px;
  min-height: 18px;
  border-radius: 50%;
  border: 1px solid black;
}
.checkmark_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: auto;
  display: none;
}
.hidden_checkbox:checked ~ .custom_checkbox .checkmark_icon {
  display: block;
}

.name_of_subtask {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin-left: 5px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
}
.subtasks_tags_container {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  margin-left: 19px;
}
.subtask_tag {
  margin-left: 4px;
  padding: 2px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  white-space: nowrap;
  height: 100%;
  border-radius: 6px;
}
.add_tag_btn {
  min-width: 17px;
  min-height: 17px;
  max-width: 17px;
  max-height: 17px;
  margin: 0px 5px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgb(227, 18, 218), rgb(229, 237, 67));
}
.add_tag_btn_icon {
  width: 50%;
  height: 50%;
}
.add_tag_btn:active > .add_tag_btn_icon {
  width: 40%;
  height: 40%;
}
.subtask_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.triple_colon_button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.triple_colon_icon {
  padding-right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(102, 102, 102);
  font-style: normal;
}
.triple_colon_icon:hover {
  color: rgba(102, 102, 102, 0.7);
}
