.card_container {
  border-radius: 15px;
  min-width: 250px;
  padding: 5px 8px;
  max-width: 23%;
  height: fit-content;
  max-height: 100%;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.card_title_form {
  display: flex;
}
.card_title {
  font-family: "JetBrains Mono", monospace;
  border-radius: 15px 0 0 15px;
  font-size: 25px;
  text-indent: 18.33px;
  font-style: italic;
  font-weight: bold;
  color: rgb(102, 102, 102);
  text-align: center;
  border: none;
  outline: none;
  width: 100%;
}
.triple_colon_button {
  border-radius: 0 15px 15px 0;
  border: none;
  outline: none;
  cursor: pointer;
}
.triple_colon_icon {
  padding-right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(102, 102, 102);
  font-style: normal;
}
.triple_colon_icon:hover {
  color: rgba(102, 102, 102, 0.7);
}

.add_task_btn {
  margin: 5px auto 0;
  min-width: 30px;
  min-height: 30px;
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_task_btn_icon {
  min-width: 16px;
  min-height: 16px;
}
.add_task_btn:active > .add_task_btn_icon {
  min-width: 10px;
  min-height: 10px;
}
