li {
  list-style-type: none;
}
.subtask_info {
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
}

.name_of_subtask {
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin-left: 5px;
}
