li {
  list-style-type: none;
}
li label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
}
label input {
  margin-top: 7px;
}

.name_of_subtask {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  display: inline-block;
  font-weight: 300;
  font-size: 20px;
  margin-left: 5px;
}
