.task_container {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  height: 85%;
  margin-top: 5px;
}
.task_name_container {
  background-color: rgb(251, 243, 193);
  border-radius: 15px;
  height: 50px;
}
.task_name_container form {
  height: 100%;
}
.task_name_container label {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin: auto 10px;
}
.task_name_input {
  font-family: "IBM Plex Sans", sans-serif;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5px;
  width: 100%;
}
.task_name_form {
  display: flex;
}
.triple_colon_button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.triple_colon_icon {
  padding-right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(102, 102, 102);
  font-style: normal;
}
.triple_colon_icon:hover {
  color: rgba(102, 102, 102, 0.7);
}
.subtask_info {
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
}
.task_details {
  display: flex;
  max-height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 20px;
}
.task_details::-webkit-scrollbar {
  display: none;
}
.subtask_input {
  font-family: "IBM Plex Sans", sans-serif;
  width: 90%;
  font-size: 19px;
  text-indent: 1px;
  font-style: italic;
  font-weight: 300;
  outline: none;
  border: none;
  color: rgb(102, 102, 102);
}
.note_input_form {
  margin-right: 20px;
}
.note_input {
  font-family: "IBM Plex Sans", sans-serif;
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 0.95;
  font-weight: 200;
  height: 50px;
  width: 100%;
  resize: none;
  overflow: auto;
}
.note_input::-webkit-scrollbar {
  display: none;
}
.note_input::-webkit-input-placeholder {
  font-size: 19px;
  text-indent: 1px;
  font-weight: 300;
  font-style: italic;
}
.note_input::-moz-placeholder {
  font-size: 19px;
  text-indent: 1px;
  font-weight: 300;
  font-style: italic;
}
.note_input:-moz-placeholder {
  font-size: 19px;
  text-indent: 1px;
  font-weight: 300;
  font-style: italic;
}
.note_input:-ms-input-placeholder {
  font-size: 19px;
  text-indent: 1px;
  font-weight: 300;
  font-style: italic;
}
